@import "../../App.scss";

.hero {
  // margin-top: 100px;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  position: relative;

  .wrapper {
    max-width: 140rem;
    padding: 4rem 2.4rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include mobile {
      flex-direction: column;
    }

    @include tablet {
      margin: 0 30px;
    }

    .text-container {
      flex: 1.4;
      z-index: 99;
      height: 100%;
      // width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
      gap: 20px;

      @include mobile {
        height: 50%;
        width: 100%;
        align-items: center;
        text-align: center;
        gap: 5px;
        order: 2;
      }

      @include tablet {
        height: 70%;
        width: 100%;
        justify-content: center;
        // align-items: center;
        // text-align: center;
        gap: 20px;
        padding-top: 4rem;
      }

      h2 {
        font-size: 30px;
        color: rebeccapurple;
        letter-spacing: 10px;

        @include mobile {
          font-size: 2.4rem;
          // overflow: hidden;
          white-space: nowrap;
        }
      }

      h1 {
        font-size: 6rem;

        @include mobile {
          font-size: 36px;
        }

        @include tablet {
          font-size: 2.25rem;
        }
        p {
          margin-top: 1rem;
          font-size: 1.5rem;
          font-weight: 300;
          letter-spacing: 3px;

          @include mobile {
            letter-spacing: 2px;
            margin-top: 2px;
          }
        }
      }

      .buttons {
        z-index: 99;
        display: flex;
        // justify-content: center;
        align-items: center;
        gap: 2rem;

        @include mobile {
          margin-top: 10px;
          gap: 1rem;
        }

        .resume_button {
          padding: 15px;
          border: 1px solid white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          // margin-right: 20px;
          font-size: 1.6rem;
          font-weight: 300;
          cursor: pointer;

          display: flex;
          gap: 0.5rem;
          justify-content: center;
          align-items: center;

          @include mobile {
            padding: 15px;
          }

          .icon {
            font-size: 2rem;
            margin-bottom: 1px;
          }
        }

        button:hover {
          color: rebeccapurple;
          border-color: rebeccapurple;
        }

        .hero_social {
          display: flex;
          gap: 10rem;
          a {
            display: flex;
            align-items: center;
            font-size: 2.5rem;
            gap: 10px;
          }
        }
      }

      img {
        width: 50px;
      }
    }

    .image-container {
      flex: 1;
      height: 100%;
      // position: absolute;
      top: 0;
      right: 0;
      // overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      // padding: 4rem;
      position: relative;

      @include mobile {
        order: 1;
        height: 50%;
        // width: 50%;
        top: unset;
        bottom: 0;
      }
      .container-img {
        z-index: 1;
        height: 49rem;
        width: 49rem;
        // padding: 1rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        // background-blend-mode:darken;
        position: absolute;

        @include mobile {
          height: 25rem;
          width: 25rem;
          justify-content: center;
          align-items: center;
        }

        @include tablet {
          height: 27rem;
          width: 27rem;
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
          // filter: drop-shadow(2px 5px 13px #1f1f4c);
          filter: drop-shadow(2px 5px 13px rebeccapurple);
          // filter: drop-shadow(0px -4px 10px rebeccapurple);
          padding: 0.3rem;

          @include mobile {
            object-fit: contain;
          }
        }
        .circleSvg {
          position: absolute;
          // height: 49rem;
          // width: 49rem;

          // @include mobile{
          //   height: 25rem;
          //   width: 25rem;
          // }
          // @include tablet{
          //   height: 27rem;
          //   width: 27rem;
          // }
        }
      }
    }
  }

  .slidingTextContianer {
    position: absolute;
    font-size: 50vh;
    bottom: -13%;
    // bottom: -120px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;

    @include mobile {
      font-size: 200px;
      bottom: -1%;
    }

    @include tablet {
      font-size: 15rem;
      bottom: -1%;
    }
  }
}
