@import "../../App.scss";
.portfolio {
  position: relative;

  .progress {
    max-width: 140rem;
    margin: 0 auto;
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 6rem;
    text-align: center;
    color: orange;
    // font-size: 36px;
    font-size: 2.25rem;

    // @include mobile {
    //   padding-top: calc(100vh - 13.5vh);
    //   font-size: 1.5rem;
    // }

    // @include mobile_MH {
    //   padding-top: calc(100vh - 80px);
    // }

    @include tablet {
      padding-top: 6.1rem;
    }

    h1{

      @include mobile {
        font-size: 4rem;
      }

      @include tablet {
        font-size: 4.5rem;
      }
      
    }

    .progressBar {
      height: 10px;
      background-color: white;
    }
  }

  .p-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    // height: 100vh;
    // height: 100%;
    overflow: hidden;

    .wrapper {
      max-width: 140rem;
      padding: 4rem 2.4rem;
      // height: 100vh;
      // height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;

      @include mobile {
        flex-direction: column;
        width: 100%;
        align-content: center;
        padding-top: 15rem;
        gap: 10px;
      }

      @include mobile_MH {
        gap: 0;
      }

      // @include tablet {
      //   margin: 0 30px;
      //   gap: 30px;
      // }

      .imageContainer {
        flex: 1;
        height: 50%;

        @include mobile {
          width: 100%;
          max-height: 300px;
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          // padding: 10px;

          @include mobile {
            object-fit: contain;
          }

          @include tablet {
            object-fit: contain;
          }
        }
      }

      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        gap: 30px;

        @include mobile {
          transform: none !important;
          align-items: center;
          // padding: 0 10px;
          text-align: center;
          gap: 20px;
        }

        .container_text {
          display: flex;
          flex-direction: column;

          @include mobile {
            gap: 10px;
          }

          @include mobile_MH {
            gap: 5px;
          }

          @include tablet {
            gap: 10px;
          }

          h2 {
            font-size: 7rem;
            @include mobile {
              font-size: 2.5rem;
            }

            @include tablet {
              font-size: 4rem;
            }
          }
          p {
            font-size: 20px;
            color: gray;

            @include mobile {
              font-size: 16px;
              // text-align: left;
            }
            @include tablet {
              font-size: 1.5rem;
            }
          }
        }

        button {
          padding: 10px;
          width: 200px;
          border: none;
          border-radius: 10px;
          background-color: orange;
          cursor: pointer;
        }
      }
    }
  }
}
