@import "../../App.scss";
.portfolio {
  position: relative;

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: orange;
    font-size: 36px;

    @include mobile {
      padding-top: calc(100vh - 100px);
      font-size: 1.5rem;
    }

    @include mobile_MH {
      padding-top: calc(100vh - 80px);
    }

    .progressBar {
      height: 10px;
      background-color: white;
    }
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;

      @include mobile {
        flex-direction: column;
        width: 100%;
        align-content: center;
        padding-top: 4rem;
        // gap: 0px;
      }

      @include mobile_MH {
        gap: 0;
      }

      .imageContainer {
        flex: 1;
        height: 50%;

        @include mobile {
          width: 100%;
          max-height: 300px;
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          padding: 10px;

          @include mobile {
            object-fit: contain;
          }

          @include mobile_MH {
          }
        }
      }

      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        gap: 30px;

        @include mobile {
          transform: none !important;
          align-items: center;
          padding: 0 10px;
          text-align: center;
          gap: 20px;
        }

        .container_text {
          display: flex;
          flex-direction: column;

          @include mobile {
            gap: 10px;
          }

          @include mobile_MH {
            gap: 0px;
          }

          h2 {
            font-size: 72px;
            @include mobile {
              font-size: 2rem;
            }
          }
          p {
            font-size: 20px;
            color: gray;

            @include mobile {
              font-size: 16px;
            }
          }
        }

        button {
          padding: 10px;
          width: 200px;
          border: none;
          border-radius: 10px;
          background-color: orange;
          cursor: pointer;
        }
      }
    }
  }
}
