@import "../../App.scss" ;

//   body {
  //     font-family: sans-serif;
  //     background-color: #181c1f;
  //     color: #bdd1d4;
  //     margin: 2rem;
  //   }
  .about {
  height: 100%;
  max-width: 140rem;
  padding: 4rem 5rem;
  margin: auto;
  font-size: 2rem;
  display: flex;
  align-items: center;

  @include mobile {
    padding: 2rem;
  }

  .about-wrapper {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    margin-top: 5rem;
    // margin-bottom: 5rem;

    @include mobile {
      flex-direction: column;
    }
  }
}

header {
  margin: 2rem 0;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

header img {
  width: 3rem;
  object-fit: contain;
}

header h1 {
  margin: 0;
  color: #48d9f3;
}

header p {
  margin: 0;
  color: #82c2ce;
}

#tabs {
  flex: 2;
  // max-width: 32rem;

  width: 100%;
  height: 100%;
  //   margin: 2rem 0;
  // overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: content-box;
}

#tabs::-webkit-scrollbar {
  display: none;
}
menu {
  flex: 0.5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  @include mobile {
    width: 100%;
    flex-direction: row;
    flex: none;
  }
}

menu button {
  font: inherit;
  // font-size: 0.85rem;

  font-size: 2rem;
  //   background-color: #282f33;
  background-color: transparent;
  border: none;
  //   border-bottom-color: #48d9f3;
  color: #e0eff1;
  //   border-radius: 4px 4px 0 0;
  border-radius: 4px;
  //   border: 2px solid white;
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-out;

  @include mobile {
    width: 50rem;
  }
}

menu button:hover,
menu button.active {
  //   background-color: #48d9f3;
  background-color: orange;
  //   background-color: transparent;
  //   color: #273133;
  color: black;
  border-color: orange;
}

#tab-content {
//   background-color: #2d3942;
//   border-radius: 0 4px 4px 4px;
border-radius: 10px;
  border: 1px solid gray;
  padding: 0 1rem;
  height: 100%;
}

#tab-content li {
  margin: 0.75rem 0;
}
