//   body {
//     font-family: sans-serif;
//     background-color: #181c1f;
//     color: #bdd1d4;
//     margin: 2rem;
//   }

.about {
  height: 100%;
  max-width: 140rem;
  padding: 4rem 2.4rem;
  margin: auto;
  font-size: 2rem;
  display: flex;
  align-items: center;

  .about-wrapper {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
    // margin-bottom: 5rem;
  }
}

header {
  margin: 2rem 0;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

header img {
  width: 3rem;
  object-fit: contain;
}

header h1 {
  margin: 0;
  color: #48d9f3;
}

header p {
  margin: 0;
  color: #82c2ce;
}

#tabs {
  flex: 2;
  // max-width: 32rem;
  height: 100%;
  margin: 2rem 0;
  // overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: content-box;
}

#tabs::-webkit-scrollbar {
  display: none;
}
menu {
  flex: 1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

menu button {
  font: inherit;
  // font-size: 0.85rem;
  // width: 50rem;
  font-size: 2rem;
  background-color: #282f33;
  border: none;
  border-bottom-color: #48d9f3;
  color: #e0eff1;
  border-radius: 4px 4px 0 0;
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

menu button:hover,
menu button.active {
  background-color: #48d9f3;
  color: #273133;
}

#tab-content {
  background-color: #2d3942;
  border-radius: 0 4px 4px 4px;
  padding: 1rem;
  height: 100%;
}

#tab-content li {
  margin: 0.75rem 0;
}
